body{
  font-family: Arial;
  text-align: center;
  margin: 0;
  background: linear-gradient(#dfe9f3, #ffffff);
}

header{
  padding: 40px;
  background: #4a90e2;
  color: white;
}

section{
  padding: 30px;
}

button{
  padding: 12px 20px;
  margin: 8px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #333;
  color: white;
}

button:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

#music{
  margin-top: 20px;
}

footer{
  padding: 20px;
  background: #eee;
  margin-top: 40px;
}
